
body {
    padding-top: 20px;
    max-width: 1200px;
    margin: auto;
}


#tasks li {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .125);
    cursor: pointer;
}


.completed {
    text-decoration: line-through;
    color: #6c757d;
    background-color: #e9ecef;
}


.btn-outline-secondary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}


#new-task {
    border-radius: 0;
}


@media (max-width: 576px) {
    .btn-group .btn {
        width: 100%;
        margin-bottom: 5px;
    }
    .input-group {
        flex-direction: column;
    }
    .input-group .form-control,
    .input-group .btn {
        border-radius: 0;
    }
    .input-group-append {
        width: 100%;
    }
}


.container {
    padding-top: 30px;
}


p, h1, h2, h3, h4, h5, h6, ul, ol {
    margin-top: 0;
    padding-top: 0;
}

#tasks {
    list-style-type: none;
    padding-left: 0;
    margin-top: 1rem;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
